div {
  background: #222;
  margin-bottom: 20px;
  color: white;
  overflow: hidden;
}

img {
  max-width: 100%;
}

/* Code Under This Line */
.short {
  height: 100px;
}

.tall {
  height: 200px;
}

.inside {
  height: 100%;
}
