body {
  background: #222;
  color: white;
}

img {
  max-width: 100%;
}

.outside {
  height: 100px;
}

/* Code Under This Line */

.foo {
  background: red;
}

.bar {
  background: blue;
}

.collection {
  background: green;
}
